.h1
    {
        width: auto;
        text-align:center;
        font-size: 48px;
    }

.p1
    {
        font-size: 24px;
        color:blue;
    }

.zunda
    {
        position: fixed;
        width: 300px;
        height: 300px;
        bottom: 0px;
        left: 0px;
    }
