.h1
    {
        width: auto;
        text-align:center;
        font-size: 48px;
    }

.p1
    {
        font-size: 24px;
        color:blue;
    }

.zunda
    {
        position: fixed;
        width: 100px;
        height: 100px;
        bottom: 100px;
        right: 100px;
    }
