.text
    {
        width: auto;
        text-align:center;
        font-size: 48px;
    }

.text2
    {
        font-size: 24px;
        color:blue;
    }

.zunda
    {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
